.card-container {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 15px;
  width: 80% !important;
}

.card-container-left {
  margin: 1vh 0 1vh auto !important;
}

.card-container-right {
  margin: 1vh auto 1vh 0;
}

.description {
  font-family: monospace;
  font-size: 0.9rem;
  text-align: left;
}

.experience {
  background-color: #212529 !important;
  color: white;
}

.institution {
  margin-bottom: 0;
}

.main-info-container {
  text-align: left;
}

.main-info {
  font-family: monospace;
  text-align: left;
}

.tag-container {
  border-radius: 4px;
  margin-left: auto;
  margin-right: 0;
  width: max-content;
}

.tag-container p {
  color: white;
  font-family: monospace;
  font-size: 0.8rem;
  margin: 0;
  padding: 0 5px;
}
