.contacts-info {
  color: #212529;
  font-size: 0.8rem;
  text-decoration: none;
}

.contacts-info:hover {
  color: #212529;
}

.download {
  color: #212529;
  text-decoration: none;
}

.download:hover {
  color: lightgray;
}

.low-bar {
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  left: 0px;
  margin-bottom: 0px;
  position: relative;
  right: 0px;
  width: 100%;
}

.low-bar-section {
  padding: 5px 10px 5px 10px;
  width: fit-content;
}

.section-title {
  font-size: 1rem;
  text-decoration: underline;
}

.source {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 100;
}

.source-code {
  color: #212529;
  text-decoration: none;
}

.source-code:hover {
  color: #212529;
}

.source-code-text {
  font-size: 0.8rem;
  margin-bottom: 8px;
}

@media (min-width: 576px) {
  .contacts-info {
    font-size: 0.9rem;
  }

  .low-bar-section {
    padding: 20px;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .source-code-text {
    font-size: 0.9rem;
    margin: 0;
  }
}
