.App {
  font-family: monospace;
}

/* Particle */

.tsparticles-canvas-el {
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
  position: fixed;
  width: 100%;
  z-index: -1 !important;
}
